.cabeza {
    grid-area: head;
}

.navegacion {
    grid-area: nav;
}

main {
    grid-area: main;
}

.publicidad {
    grid-area: aside;
}

.pie {
    grid-area: footer;
}

body {
    background-image: url("../img/dark-canvas.gif");
    display: grid;
    grid-template-areas: "head head head head"
        "main main main aside"
        "footer footer footer footer";
    color: white;
}

/* INDEX */

.cabeza {
    /*position: -webkit-sticky;
    position: sticky;*/
    top: 10px;
    width: 98%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgba(212, 209, 209, 0.445);
    z-index: 1;
}

#menuP {
    display: none;
}

#logo {
    width: 5%;
}

#cabeza__logo--img {
    margin-top: 1.5%;
    width: 95%;
}

.breadcrumb {
    background-color: transparent;
}


.cabezareg {
    grid-area: headreg;
}

.regis {
    background-image: url("../img/dark-canvas.gif");
    display: grid;
    grid-template-areas: "headreg headreg headreg"
        "main main main"
        "footer footer footer";
}

/* REGISTRADO */
.cabezareg {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 98%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgba(212, 209, 209, 0.445);
    z-index: 1;
}

#cabezareg__logo--img {
    margin-top: 1.75%;
    width: 45%;
    margin-left: 15%;
}

/* PERFIL & CARRITO */

.cabeza__perfil {
    grid-area: headPer;
}

.navegacion__perfil {
    grid-area: navCuen;
}

.cuenta {
    grid-area: mainCuen;
}


.perfil {
    background-image: url("../img/dark-canvas.gif");
    display: grid;
    grid-template-areas: "headPer headPer headPer"
        "navCuen mainCuen mainCuen"
        "footer footer footer";
}

.cabeza__carrito {
    grid-area: headCarr;
}

.navegacion__carrito {
    grid-area: navCarr;
}

.cuerpo__carrito {
    grid-area: mainCarr;
}


.carrito {
    background-image: url("../img/dark-canvas.gif");
    display: grid;
    grid-template-areas: "headCarr headCarr headCarr"
        "mainCarr mainCarr mainCarr"
        "footer footer footer";
    color: white;
}

.cabeza__perfil,
.cabeza__carrito {
    position: sticky;
    top: 10px;
    display: flex;
    background-color: rgba(212, 209, 209, 0.144);
    border-radius: 10px;
}

.cabezaper__logo,
.cabezacarr__logo {
    flex: 1 1 20%;
    margin-left: 5%;
}

#cabezaper__logo--img,
#cabezacarr__logo--img {
    margin-top: 1.5%;
    width: 35%;
}

.cabezaper__cuenta,
.cabezacarr__productos {
    flex: 1 1 60%;
    margin-top: 1.5%;
}


#cabezaper__cuenta--h1,
#cabezacarr__productos--h1 {
    width: 40%;
    height: 30px;
    margin-left: 35%;
    font-size: 24px;
}

.cabezaper__cierre,
.cabezacarr__cierre {
    flex: 1 1 20%;
}

#cabezaper__cierre--btn,
#cabezacarr__cierre--btn {
    color: black;
    width: 60%;
    height: 50px;
    margin-top: 5%;
    margin-right: 2.5%;
}

.main__noregis {
    margin-top: 7%;
}

#main_regis {
    margin-top: 7%;
    z-index: -1;
}

.card {
    margin-left: 15%;
    background-color: inherit;
    border: none;
}

.card__regis {
    background-color: inherit;
    border: none;
}

.card>img {
    width: 80%;
    margin-left: 5%;
}

.card__regis>img {
    width: 60%;
    margin-left: 15%;
}

.navegacion {
    position: sticky;
    top: 160px;
    margin-top: 120%;
    margin-left: 35%;
}

.navegacion__regis {
    position: sticky;
    top: 160px;
    /*margin-top: 120%;*/
    margin-left: 35%;
}

.navegacion__perfil,
.navegacion__carrito {
    position: sticky;
    top: 160px;
    margin-top: 40%;
    margin-left: 15%;
}

a, a:link, a:visited{
    color: black;
    text-decoration: none;
}

#map-stores {text-decoration: none;}

.dropdown-menu, .btn-group {
    border-radius: 15px;
}

.dropdown-menu>li:hover {
    background-color: lightgrey;
}

.information {
    grid-area: information;
}

.contact {
    grid-area: contact;
}

.pie {
    margin-top: 2.5%;
    background-color: rgba(196, 233, 255, 0.253);
    border-radius: 5px;
}

.arriba {
    display: grid;
    grid-template-areas: "information contact";
}

.pie li {
    list-style: none;
    margin-top: 2%;
}

.list>li {
    list-style: circle;
    color: black;
    margin-top: 1%;
}

.list>li>a, .list>li>a:link, .list>li>a:visited {
    color: blue;
}

.pie .text {
    text-decoration: underline;
    color: white;
}

.agrandar {
    width: 160%;
}

#sesion__f1--cre {
    margin-left: 32.5%;
}

.sesion, .sesion2 {
    width: 60%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 78, 130, 0.726);
    color: white;
}


.paying {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.479);
}

select>option {
    color: black;
}

#sesion__f1--usu {
    border-radius: 8px;
    background-color: white;
    color: black;
}

#sesion__f1--pwd {
    margin-left: 15%;
    border-radius: 8px;
    color: black;
}

.invalid-feedback {
    font-size: 18px;
    color: rgb(255, 0, 0);
}

.sesion__f1>a,
.sesion__f1>a:link,
.sesion__f1>a:visited {
    color: rgba(187, 255, 0, 0.685);
}

#sesion__f1__btn--sub {
    margin-left: 5%;
    width: 30%;
    color: black;
}

#sesion__f1__btn--cer {
    margin-left: 5%;
    width: 30%;
    color: black;
}

.dropdown-menu {
    background-color: rgba(61, 147, 197, 0.699);
    font-size: 18px;
}

.minijuego {
    height: 600px;
    width: 800px;
    background-image: url("../img/campodefutbol_2.jpg");
    background-size: cover;
    margin: auto;
    margin-top: 2%;
}

.canvas--carrito {
    z-index: 1 !important;
    background-color: rgb(21, 85, 141);
}

.cuenta {
    margin-top: 5%;
    margin-left: 5%;
}

.cuenta__datos__art>p {
    font-size: 24px;
    text-align: center;
}

.cuenta__datos__art>p>input {
    font-size: 18px;
    text-align: center;
}

.cuenta__datos__art>p>select,
.cuenta__datos__art>p>select>option {
    font-size: 18px;
    text-align: center;
    color: black;
}

.cuenta__datos {
    background-color: rgba(212, 209, 209, 0.144);
    width: 80%;
    padding: 10px;
    margin-top: 7%;
}

.favoritos {
    padding: 10px;
    width: 75%;
    margin-top: 2%;
    margin-left: 7%;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
}

.cuenta__datos__art>p>span {
    font-size: 22px;
}

.cuenta__datos__art--btn {
    color: black;
    margin-left: 85%;
}

.pedidos {
    width: 70%;
    border-radius: 10px;
}

#pedidos--h1 {
    text-align: center;
    font-size: 24px;
}

.pedidos__art>p,
.pedidos__art>p>span,
.pedidos__art__ent>p {
    font-size: 20px;
    color: black;
}

#pedidos__art--real,
#pedidos__art--pedi {
    background-color: rgba(245, 245, 245, 0.945);
}

#pedidos__art--real,
#pedidos__art--pedi,
.pedidos__art__ent {
    border: 1px solid black;
    padding: 10px;
}

#pedidos__art--pedi {
    position: relative;
    top: -19.5px;
    background-color: rgba(245, 245, 245, 0.945);
}

.pedidos__art__ent {
    position: relative;
    top: -39.5px;
    background-color: rgba(212, 209, 209, 0.144);
}

#pedidos__art__ent--p--spa,
#pedidos__art__ent--p2--spa2 {
    font-size: 22px;
    color: rgba(0, 153, 255, 0.589);
}

#pedidos__art__ped1--img {
    width: 200px;
    height: 200px;
    grid-area: img;
}

.pedidos__art__ped1__espec {
    grid-area: ped1;
}

.pedidos__art__ped1__espec>p {
    font-size: 22px;
}

#comprar {
    grid-area: btn1;
}

#devolver {
    grid-area: btn2;
}

.pedidos__art__ped1 {
    display: grid;
    flex-direction: column;
    grid-template-areas: "img ped1 ped1 ped1 ped1"
        "img btn1 btn1 btn2 btn2";
    border: 1px solid black;
    padding: 10px;
    position: relative;
    top: -39.5px;
    background-color: rgba(212, 209, 209, 0.144);
}

.cuerpo__carrito>p {
    font-size: 24px;
    text-align: center;
}

.cuerpo__carrito {
    background-color: rgba(212, 209, 209, 0.144);
    width: 80%;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.cuerpo__producto {
    margin-left: 10%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#cuerpo__producto__portada--img {
    margin-top: 15%;
    width: 160px;
    height: 180px;
}

#cuerpo__producto__descripcion--p {
    font-size: 20px;
    color: rgb(255, 223, 116);
}

.cuerpo__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
}

#cuerpo__total--pSub {
    margin-bottom: 0px;
    font-size: 28px;
}

#cuerpo__total--pPre {
    font-size: 18px;
    color: rgb(234, 234, 236);
}

#cuerpo__total--btn {
    width: 15%;
    color: black;
    margin-bottom: 2%;
}

#traje {
    margin-left: 30%;
}

.espe>.card {
    margin-left: 5%;
    text-align: justify;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px
}

.act-price {
    color: #faa541;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.mlf--shops {
    margin-top: 6%;
    margin-left: 2.5%;
}

#main-image {
    width: 120%;
    margin-top: 20%;
}

#main-image-window {
    width: 80%;
}

.publicidad__2 {
    display: none;
}

.aniadir {
    width: 10%;
    color: black;
}

.ajustar {
    padding: 10px;
    width: 120%;
    margin-left: 15%;
}

.busqueda {
    width: 40%;
}

.busqueda--regis {
    width: 25%;
}

.img__carrito>img {
    width: 50%;
}

hr {
    color: black; background-color: black; width:75%; height: 1%;
}

@media screen and (min-width:1201px) {
    .nav-link {
        font-size: 20px;
    }

    .cuerpo__espe {
        width: 95%;
        margin-top: 2%;
    }

    #publicidad--sale {
        width: 90%;
        margin-top: 50%;
        margin-left: 5%;
        border-radius: 10px;
    }

    .col {
        width: 130%;
        margin: 7%;
    }
}

@media screen and (max-width:1200px) and (max-height: 800px) {
    .publicidad {
        display: none;
    }

    .cuerpo__espe {
        margin-top: 5%;
        width: 90%;
    }

    .cuerpo__espe {
        margin: 5%;
        width: 95%;
    }

    .publicidad__2 {
        display: block;
    }

    #publicidad--sale2 {
        width: 60%;
        margin-left: 20%;
        border-radius: 10px;
    }

    #logo {
        width: 10%;
    }

    body {
        display: grid;
        grid-template-areas: "head"
            "main"
            "aside"
            "footer";
    }

    .col {
        width: 110%;
        margin: 7%;
    }
}

@media screen and (max-width:700px) and (max-height: 1100px) {
    .publicidad {
        display: none;
    }

    .cuerpo__espe {
        margin-top: 5%;
        margin-left: 8%;
        width: 80%;
    }

    .reducir {
        margin-top: 5%;
    }

    body {
        display: grid;
        grid-template-areas: "head"
            "main"
            "aside"
            "footer";
    }

    .arriba {
        display: grid;
        grid-template-areas: "information"
            "contact";
    }

    .publicidad__2 {
        display: block;
    }

    #publicidad--sale2 {
        width: 90%;
        margin: 5%;
        border-radius: 10px;
    }

    #menuP {
        display: block;
        margin: auto;
        font-size: 14px;
    }

    #logo {
        width: 20%;
    }

    .col {
        width: 80%;
        margin: 7%;
    }

    .container>h2 {
        font-size: 22px;
    }

    .cabeza {
        position: unset;
    }

    .sesion {
        width: 80%;
    }

    .sesion button {
        margin: 5%;
    }

    .sesion>#iniciar {
        margin: 2%;
    }

}